In [39]:
import pandas as pd

resp = pd.read_csv('../project/data/ehresp_2014/ehresp_2014.csv')
atus = pd.read_csv('../project/data/atus_2014.csv')

In [40]:
#resp.head()

In [41]:
#atus.head()

In [42]:
atus_test = atus[['TUCASEID', 'TRERNWA', 'TRMJIND1', 'TRMJOCGR', 'TELFS', 'TREMODR', 'TRNUMHOU']]

atus_test.rename(columns={'TUCASEID':'tucaseid',
                         'TRERNWA':'weekly_earnings',
                         'TRMJIND1':'maj_ind',
                         'TRMJOCGR':'cat_occ',
                         'TELFS':'labor_status',
                         'TREMODR':'eh_resp',
                         'TRNUMHOU':'household_number'},
                 inplace=True)

In [43]:
resp = pd.merge(resp, atus_test, on=['tucaseid'], how='left')

#resp.head()

In [44]:
print resp.columns

Index([u'tucaseid', u'tulineno', u'eeincome1', u'erbmi', u'erhhch',
       u'erincome', u'erspemch', u'ertpreat', u'ertseat', u'ethgt', u'etwgt',
       u'eudietsoda', u'eudrink', u'eueat', u'euexercise', u'euexfreq',
       u'eufastfd', u'eufastfdfrq', u'euffyday', u'eufdsit', u'eufinlwgt',
       u'eusnap', u'eugenhth', u'eugroshp', u'euhgt', u'euinclvl',
       u'euincome2', u'eumeat', u'eumilk', u'euprpmel', u'eusoda', u'eustores',
       u'eustreason', u'eutherm', u'euwgt', u'euwic', u'exincome1',
       u'weekly_earnings', u'maj_ind', u'cat_occ', u'labor_status', u'eh_resp',
       u'household_number'],
      dtype='object')

In [45]:
resp.rename(columns={'erbmi':'bmi', 
                     'ertpreat':'primary_eating', 
                     'ertseat':'secondary_eating', 
                     'euexercise':'exercise', 
                     'eufastfd':'fast_food',
                     'eufdsit':'food_amount',
                     'euinclvl':'income_14_15',
                     'erincome':'income_lvl',
                     'eusoda':'drink_soda',
                     'eustores':'stores'
                     },
            inplace=True)

In [46]:
resp.drop(['eeincome1', 
           'erhhch',
           'eudietsoda',
           'eudrink',
           'eueat',
           'euexfreq',
           'eufastfdfrq',
           'euincome2', 
           'erspemch', 
           'ethgt', 
           'etwgt', 
           'euffyday', 
           'eufinlwgt', 
           'eusnap', 
           'eugenhth',
           'eugroshp',
           'euhgt',
           'eumeat',
           'eumilk',
           'euprpmel',
           'eustreason',
           'eutherm',
           'euwgt',
           'euwic',
           'exincome1'
          ], axis=1, inplace=True)

In [47]:
resp.shape

(11212, 18)

In [48]:
resp.income_14_15.value_counts()

5    9232
6    1980
Name: income_14_15, dtype: int64

In [49]:
resp = resp[resp['income_14_15'] == 5]
resp = resp[resp['household_number'] == 1]
resp = resp[resp['labor_status'] == 1]
resp = resp.drop(['tucaseid', 'tulineno', 'income_14_15', 'eh_resp', 'labor_status', 'household_number'], axis=1)

In [50]:
resp.shape

(1158, 12)

In [51]:
print resp.income_lvl.value_counts()
print resp.exercise.value_counts()
print resp.food_amount.value_counts()

 1    869
 5    136
 3     95
 2     50
-1      8
Name: income_lvl, dtype: int64
 1    775
 2    378
-1      3
-2      1
-3      1
Name: exercise, dtype: int64
 1    1089
 2      46
 3      17
-1       3
-2       2
-3       1
Name: food_amount, dtype: int64

In [52]:
resp.income_lvl.replace([1, 2, 5], [5, 4, 1], inplace=True)
resp.exercise.replace([1, 2], [2,1], inplace=True)
resp.food_amount.replace([1, 3], [3, 1], inplace=True)

In [53]:
print resp.income_lvl.value_counts()
print resp.exercise.value_counts()
print resp.food_amount.value_counts()

 5    869
 1    136
 3     95
 4     50
-1      8
Name: income_lvl, dtype: int64
 2    775
 1    378
-1      3
-2      1
-3      1
Name: exercise, dtype: int64
 3    1089
 2      46
 1      17
-1       3
-2       2
-3       1
Name: food_amount, dtype: int64

In [54]:
resp.where(resp>=0, None, inplace=True)

resp.isnull().sum()

bmi                  60
income_lvl            8
primary_eating        0
secondary_eating      5
exercise              5
fast_food             4
food_amount           6
drink_soda          369
stores               27
weekly_earnings     136
maj_ind               0
cat_occ               0
dtype: int64

In [55]:
resp.bmi.fillna(resp.bmi.mean(), inplace=True)
resp.income_lvl.fillna(0, inplace=True)
resp.secondary_eating.fillna(round(resp.secondary_eating.mean(), 0), inplace=True)

resp.exercise.fillna(0, inplace=True)
resp.fast_food.fillna(0, inplace=True)
resp.food_amount.fillna(0, inplace=True)
resp.drink_soda.fillna(0, inplace=True)
resp.stores.fillna(5, inplace=True)
resp.weekly_earnings.fillna(resp.weekly_earnings.mean(), inplace=True)

resp.isnull().sum()

bmi                 0
income_lvl          0
primary_eating      0
secondary_eating    0
exercise            0
fast_food           0
food_amount         0
drink_soda          0
stores              0
weekly_earnings     0
maj_ind             0
cat_occ             0
dtype: int64

In [56]:
resp.shape

(1158, 12)

In [57]:
resp.to_csv('../project/data/resp.csv')