In [13]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import scipy as scipy
from scipy import special, optimize
import seaborn as sns
%matplotlib inline

In [14]:
resp = pd.read_csv('../project/data/ehresp_2014/ehresp_2014.csv')
resp.head()
#resp.shape

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
0,20140101140007,1,-2,33.200001,1,-1,-1,30,2,0,...,1,2,1,-1,2,1,2,170,1,2
1,20140101140011,1,1,22.700001,3,1,-1,45,14,0,...,1,2,1,-1,1,2,2,128,2,0
2,20140101140028,1,2,49.400002,3,5,-1,60,0,0,...,-1,-1,2,2,-1,-1,-1,270,2,12
3,20140101140063,1,-2,-1.000000,3,-1,-1,0,0,0,...,2,2,1,1,2,6,-1,-2,2,2
4,20140101140168,1,2,31.000000,3,5,-1,65,0,0,...,1,2,1,2,1,1,2,210,1,0

In [15]:
resp.describe()

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
count,1.121200e+04,11212.0,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,...,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000
mean,2.014066e+13,1.0,1.293525,26.291250,2.885212,2.036479,1.872547,65.678113,16.759900,-0.003122,...,0.529344,1.157867,1.464592,0.738494,0.788887,1.366572,0.844006,168.182572,0.512130,4.475027
std,3.456735e+08,0.0,0.845532,8.737788,0.443716,1.694437,2.915099,48.080541,50.643598,0.182376,...,0.985731,1.338405,0.691768,1.285256,1.301327,1.872375,1.408404,56.893436,1.481951,17.634628
min,2.014010e+13,1.0,-3.000000,-1.000000,1.000000,-1.000000,-1.000000,0.000000,-3.000000,-1.000000,...,-2.000000,-3.000000,-3.000000,-2.000000,-3.000000,-3.000000,-3.000000,-5.000000,-3.000000,-1.000000
25%,2.014030e+13,1.0,1.000000,23.000000,3.000000,1.000000,-1.000000,30.000000,0.000000,0.000000,...,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,140.000000,-1.000000,0.000000
50%,2.014061e+13,1.0,1.000000,26.500000,3.000000,1.000000,1.000000,60.000000,3.000000,0.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,168.000000,1.000000,0.000000
75%,2.014091e+13,1.0,2.000000,30.400000,3.000000,3.000000,5.000000,90.000000,15.000000,0.000000,...,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,200.000000,2.000000,0.000000
max,2.014121e+13,1.0,3.000000,73.599998,3.000000,5.000000,5.000000,508.000000,990.000000,2.000000,...,2.000000,2.000000,3.000000,2.000000,5.000000,6.000000,2.000000,340.000000,2.000000,87.000000

In [17]:
print type(resp.eeincome1)
print resp.eeincome1.value_counts()

<class 'pandas.core.series.Series'>
 1    6990
 2    3454
 3     452
-2     155
-3     140
-1      21
Name: eeincome1, dtype: int64

In [11]:
resp = resp.eeincome1[resp.eeincome1 < 0] = 0

AttributeError: 'int' object has no attribute 'eeincome1'

In [7]:
resp.head()

AttributeError: 'int' object has no attribute 'head'

In [ ]:
resp.eeincome1.value_counts()

In [ ]:
re.boxplot(column='age', by='outcome')

In [ ]:
resp.boxplot(column='erbmi', by='eeincome1')

# n, bins, patches = plt.hist(resp.erbmi, 50, normed=1)
# mu = np.mean(resp.erbmi)
# sigma = np.std(resp.erbmi)
# plt.plot(bins, plt.mlab.normpdf(bins, mu, sigma))

In [ ]:
resp.ertpreat.bo

In [ ]:
resp.isnull().sum()

In [ ]:
resp_bmi_seat = resp[['erbmi', 'ertseat']]
resp_bmi_seat = resp_bmi_seat[resp_bmi_seat.erbmi != -1]
# resp_bmi_seat.erbmi.value_counts()

In [ ]:
x = resp_bmi_seat.erbmi
y = resp_bmi_seat.ertseat
plt_hist = resp_bmi_seat.erbmi.hist(bins=40)
print plt_hist

In [ ]:
resp_bmi.describe()

In [ ]:
scipy.stats.ttest_1samp(resp_bmi.erbmi, resp_bmi.erbmi.mean())

In [ ]:
resp_bmi = resp[['erbmi', 'ertpreat', 'ertseat']]
resp_bmi = resp_bmi[resp_bmi.erbmi != -1]

sns.pairplot(resp_bmi, x_vars='ertpreat', y_vars='ertseat', size=6, aspect=0.7)

In [ ]:
resp_bmi_50 = resp_bmi[resp_bmi.erbmi >50]

resp_bmi_50.erbmi.value_counts()

In [ ]:
resp_bmi['bmi'] = resp_bmi.erbmi.apply(lambda x: np.round(x))
resp_bmi.bmi.hist(bins=40)

In [ ]:
resp_bmi.describe()

In [ ]:
x = resp_bmi.bmi
y = resp_bmi.ertpreat
plt.scatter(x, y)
plt.show()

In [ ]:
n, bins, patches = plt.hist(resp_bmi.erbmi, 50, normed=1)
mu = np.mean(resp_bmi.erbmi)
sigma = np.std(resp_bmi.erbmi)
plt.plot(bins, plt.mlab.normpdf(bins, mu, sigma))

In [ ]:
resp_bmi.hist()

In [ ]:
#resp_bmi.groupby('erbmi').hist()

In [ ]:
scipy.stats.normaltest(resp_bmi.erbmi)

In [ ]:
resp_bmi_reat = resp[['erbmi', 'ertpreat']]
resp_bmi_reat = resp_bmi_reat[resp_bmi_reat.erbmi != -1]
# resp_bmi_seat.erbmi.value_counts()

In [ ]:
x = resp_bmi_reat.erbmi
y = resp_bmi_reat.ertpreat
plt_hist = resp_bmi_reat.erbmi.hist(bins=40)
print plt_hist

In [ ]:
resp_bmi_stores = resp[['erbmi', 'eustores']]
resp_bmi_stores = resp_bmi_stores[resp_bmi_stores.erbmi != -1]
# resp_bmi_seat.erbmi.value_counts()

x = resp_bmi_stores.erbmi
y = resp_bmi_stores.eustores
plt_hist = resp_bmi_stores.erbmi.hist(bins=40)
print plt_hist

In [ ]:
act = pd.read_csv('../project/data/ehact_2014/ehact_2014.csv')
act.head()
#act.shape

In [ ]:
wgts = pd.read_csv('../project/data/ehwgts_2014/ehwgts_2014.csv')
wgts.head()
#wgts.shape

In [ ]:
wgts.columns

In [ ]:
merge_act_wgts = pd.merge(act, wgts, on=['tucaseid'], how='left')
df = pd.merge(resp, merge_act_wgts, on=['tucaseid'], how='left')
df.head()
df.shape

In [ ]:
resp.columns

In [ ]:
df.erbmi.describe()

In [ ]:
df.erbmi.hist(bins=40)

In [ ]:
df.ertpreat.hist(bins=40)

In [ ]:
df.ertseat.hist(bins=40)

In [ ]:
resp_1 = resp[['erbmi', 'ertpreat', 'ertseat', 'eudrink', 'eusoda', 'euexercise', 'euexfreq']]
resp_1.head()

In [ ]:
resp_1 = resp_1[resp_1.eudrink != -2]

resp_1.eudrink.value_counts()

In [ ]:
resp_1 = resp_1[resp_1.eudrink !=-3]

resp_1.eudrink.value_counts()

In [ ]:
print resp_1.eusoda.value_counts()
print resp_1.euexercise.value_counts()
print resp_1.euexfreq.value_counts()

In [ ]:
resp_1 = resp_1[resp_1.eusoda !=-1]
resp_1 = resp_1[resp_1.eusoda !=-2]
resp_1 = resp_1[resp_1.euexercise !=-1]
resp_1 = resp_1[resp_1.euexercise !=-2]
resp_1 = resp_1[resp_1.euexercise !=-3]

print resp_1.eusoda.value_counts()
print resp_1.euexercise.value_counts()

In [ ]:
print resp_1.ertpreat.value_counts(resp_1.ertpreat == 0)

In [ ]:
# resp_2 = resp_1[['erbmi', 'eusoda', 'euexercise']]
# X, y = resp_2.drop('erbmi', axis = 1), resp_2['erbmi']
# knn = KNeighborsClassifier(n_neighbors=3)
# knn.fit(X, y)
# knn.score(X, y)

In [ ]:
sns.pairplot(resp_1, x_vars=['ertpreat','ertseat'], y_vars='erbmi', size=6, aspect=0.7)